html {
    font-size: 22px;
}

body {
    padding: 1rem;
}

.card {
    background-color: white;
    color: white;
    padding: 1rem;
    /* height: 22rem; */
}


.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 300px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
.lp{
    width: 100px;
}